# train
train : True
type : simpo # dpo / simpo
model : mistral-7b # mistral-7b / llama3-8b

# dpo config (llamafactory)
save_path : saves/${model}/${type}
yaml_path : examples/train_lora/${model}/${type}
avail_devices : 3,4
start : 0 #이 숫자부터 진행 
end : 4 # 이 숫자까지 진행

# simpo config (simpo)

# export
export : False
export_yaml_path : examples/merge_lora/${model}/${type}
model_path : models/${model}/${type}
checkpoint_list : [2000, 4000]

# eval
eval : False
judge_name : gpt-4o-2024-11-20
judge_device : 0
judge_device_2 : 1
parallel_eval : True

# evaluation metric config
mt_bench : False
evol_instruct : True
alpaca_eval : False
hhh : False