# train
train : False
save_path : saves/llama2-7b/base
yaml_path : examples/train_lora/base
avail_devices : 3,4
dataset : highvar
start : 0 #이 숫자부터 진행 
end : 4 # 이 숫자까지 진행

# export
export : True
export_yaml_path : examples/merge_lora/base
model_path : models/llama2-7b/base
checkpoint_list : [2000, 4000]

# eval
judge_name : gpt-4o-2024-11-20
judge_device : 0
judge_device_2 : 1
parallel_eval : True

# evaluation metric config
mt_bench : False
evol_instruct : True
alpaca_eval : False
hhh : False